html {
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}
body {
    font-family: 'antique roman', 'Georgia';
    background-image: linear-gradient(135deg, #051F20, #1B5568, #328EA1);
    color: #8c9dad;
}
.lesson-format {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(140, 157, 173, 0.1);
    border: 10px solid rgba(140, 157, 173, 0.3);
    margin: 100px 300px;
    font-size: 2em;
    /* box-shadow: 0 0 0 1px #8c9dad; */
    border-radius: 0.1em;
    /* box-shadow: 0 0 0.5rem 2.5px whitesmoke; */
    padding: 0;
}
.link:hover {
    color: darkslategray;
    cursor: pointer;
    transition: 0.5s;
}
.lesson-format > div {
    padding: 30px;
}
div > a {
    color: inherit;
    text-decoration: none;
}
@media only screen and (max-width: 1000px) {
    .lesson-format {
        margin: 100px 50px;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 4px solid yellow; */
}
div.header > * {
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
}
#header_subtext {
    font-size: 1em;
    width: 200px;
}
.first_layer {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    gap: 5em;
}

#flashcard {
    display: flex;
    height: 550px;
    width: 750px;
    justify-content: center;
    align-items: center;
    border: 10px solid rgba(140, 157, 173, 0.3);
    background-color: rgba(140, 157, 173, 0.1);
    transition: background-color 0.3s ease;
    border-radius: 0.1em;
    font-size: 6em;
    cursor: pointer;
}
#flashcard.opaque {
    border: 10px solid rgba(100, 117, 133, 1);
    background-color: rgba(120, 137, 153, 1);
    color: rgba(200, 217, 233, 1);
}
.buttons {
    display: flex;
    gap: 3em;
}
.buttons > button {
    font-size: inherit;
    font: inherit;
    vertical-align: middle;
    border: 3px solid rgba(120, 137, 153, 1);
    background: rgba(140, 157, 173, 1);
    border-radius: 0.5em;
    color: darkslategray;
    padding: 10px;
    padding-top: 15px;
    text-align: center;
    cursor: pointer;
}
@media only screen and (max-width: 750px) {
    .flashcard {
        height: 550px;
        width: 450px;
    }
    .buttons {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}