body, html {
    font-family: 'antique roman', 'Georgia';
    background-image: radial-gradient(circle at center, #000000 0%, #050505 100%);
    color: #8c9dad;
    min-height: 100vh;
    margin: 0;
}
.big-box {
    display: flex;
    flex-direction: column;
    gap: 3em;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.big-box:first-child {
    margin-top: 100px;
}
.lesson-format {
    background: rgba(140, 157, 173, 0.1);
    font-size: 5em;
    padding: 25px 70px 0 70px;
    border-radius: 0.1em;
}
div > a {
    color: inherit;
    text-decoration: none;
}
.lesson-link:hover {
    color: darkslategray;
    box-shadow: 0 0 0.5rem 2px darkslategray;
    transition: color 1s ease-in-out, box-shadow 1s ease-in-out;}
.link:hover {
    color: darkslategray;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
@media only screen and (max-width: 640px) {
    .lesson-format {
        font-size: 3.5em;
    }
}
@media only screen and (max-width: 1000px) {
    .lesson-format {
        margin: 5px 50px;
    }
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.header > * {
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
}
.header div:first-child {
    padding-top: 30px;
}
#header_subtext {
    font-size: 1em;
    width: 200px;
}
.first_layer {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.flashcard {
    display: flex;
    height: 550px;
    width: 750px;
    justify-content: center;
    align-items: center;
    border: 10px solid rgba(140, 157, 173, 0.3);
    background-color: rgba(140, 157, 173, 0.1);
    transition: background-color 0.3s ease;
    border-radius: 0.1em;
    cursor: pointer;
}
#flashcard_small_font {
    font-size: 4em;
    text-align: center;
}
.flashcard.opaque {
    border: 10px solid rgba(100, 117, 133, 1);
    background-color: rgba(120, 137, 153, 1);
    color: rgba(120, 137, 153, 1);
}
.buttons {
    display: flex;
    gap: 3em;
}
.buttons > button {
    font-size: inherit;
    font: inherit;
    vertical-align: middle;
    border: 3px solid rgba(120, 137, 153, 1);
    background: rgba(140, 157, 173, 1);
    border-radius: 0.5em;
    color: darkslategray;
    padding: 10px;
    padding-top: 15px;
    text-align: center;
    cursor: pointer;
}
@media only screen and (max-width: 785px) {
    .flashcard {
        height: 550px;
        width: 450px;
    }
    .buttons {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 4px 0 4px;
    }
    #flashcard_small_font {
        font-size: 2.5em;
    }
}
@media only screen and (min-height: 250px) {
    .first_layer {
        gap: 5em;
    }
}
.footer {
    display: flex;
    background-image: linear-gradient(135deg, #001933, #002147, #04080F);
    font-family: "antique roman", "Georgia";
    font-size: 1rem;
    padding: 30px 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.drop_down {
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.drop_down_content {
    border-radius: 2.5px;
    font-size: 1.5em;
    opacity: 0;
    visibility: hidden;
    border: 2px solid;
    min-width: 70%;
    left: 75px;
    position: absolute;
    background: rgba(80, 97, 113, 1);
    z-index: 1;
}
.drop_down:hover .drop_down_content {

    opacity: 1;
    transition: opacity 1s ease-in-out;
    visibility: visible;
}
.drop_down_content div {
    padding: 0.8rem 0 0.4rem 0;
    text-decoration: none;
    color: inherit;
}
.drop_down_content div:not(:first-child) {
    border-top: solid 1px whitesmoke;
bas}